*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding:20px;
    background-color: #ffb6c1;
    color: #f54f68;
    border-bottom: solid;
    border-width: 10px;
}
header,
body h2,
body h3{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
}
header h1{
    font-size: 50px;
}
body{
    font-family: 'Lato', sans-serif;
    color: #855159;
    background-color: #fde8cf;
}
header nav li{
    display: inline;
    margin-left: 18px;
}
header nav li a{
    text-decoration: none;
    font-size: 23px;
    color: #e42c48;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#do-dia{
    font-size: 20px;
    margin: 20px;
}
body h2{
font-size: 33px;
}
.receita{
    display: flex;
    align-items: center;
}
body h3{
    font-size: 25px;   
}
.receita ul{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 15px;
}
.receita li{
    margin-top: 20px;
    list-style-type: none;
}
.cupcake{
    height: 550px;
    margin-right: 60px;
    margin-top: 20px;
    border-style: solid;
    border-width:5px ;
}
#do-dia ol li{
    margin-top: 8px;
}
#contato .modo-contato{
    display: flex;
}
form input,
form textarea,
form button{
    display: block;
    width: 550px;
    padding: 12px;
    justify-content: space-between;
    background-color:#f1dabc;
    margin-top: 10px;
}
form button{
    background-color:#442026;
    font-size: large;
    font-weight: 700;
    color: #fff;
}
form textarea{
    resize: none;
    height: 180px;
}
form button:hover{
    background-color: #834a51;
    cursor: pointer;
}
form input:focus,
form textarea:focus{
    outline-color:#442026;
}
.links,
.links ul{
    margin-inline: 50px;
}
.links {
    align-items: center;
}
.social img{
    height: 30px;
    margin-inline: 5px;
}
.social li{
    display: inline;
}
.anuncio a{
    text-decoration: none;
    color: #855159;
    font-size: large;
}
footer{
    margin-top: 20px;
    background-color:#ffb6c1;
    padding: 18px;
    color: #e42c48;
}
